* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

.titulo {
    text-align: center; 
    color: white; 
    margin: 5% 0%; 
}

section {
    background-color: white; 
    width: 500px; 
    margin: auto; 
    padding: 30px; 
    border-radius: 1.25em;
}

footer {
    text-align: center; 
    color: white; 
    font-style: italic; 
    margin: 10px;
}

body {
    background-color: rgb(62, 156, 199);
}