* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.carrosel {
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.container {
    display: flex;
    transform: translateX(0);
}


img {
    object-fit: cover;
    height: 300px;
    width: 300px;
}