* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

section {
    display: flex;
    margin: auto; 
}

.titulo {
    text-align: center;
    margin: 1.25em;
}

.container-img {
    width: 106px;
    height: 106px; 
    object-fit: cover;
    border-radius: 100%;
}

.container-section {
    min-width: 500px; 
    max-width: 700px;
    box-shadow: 2px 2px 3px black;
    border-radius: 1.25em;
    height: 150px;
}

.container-img {
    margin: auto;
}

.container-input { 
    text-align: center;
    padding: 5px;
}

.picture {
    width: 321px;
    height: 600px;
}

#pesquisa {
    border-radius: 1.25em;
    appearance: none;
}

#button {
    border-radius: 1.25em;
    padding: 0.3em;
}